<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.5" />
    <title><%= movie.title %></title>
    <link rel="icon" href="https://img.icons8.com/ios-filled/25/000000/clapperboard.png" type="image/png">
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="/path/to/favicon.png"
      type="image/png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="/path/to/favicon.png"
      type="image/png"
      sizes="32x32"
    />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        background-color: #1f1f1f;
        color: white;
      }
      .action-buttons {
        display: flex;
        gap: 10px;
        margin-top: 20px;
      }

      .action-buttons button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .action-buttons button:hover {
        background-color: #2980b9;
      }
      .movie-description {
        padding: 40px;
        text-align: center;
      }

      .movie-title h1 {
        font-family: "Staatliches", cursive;
        font-size: 36px;
        margin-bottom: 20px;
      }

      .movie-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      .movie-image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .movie-details {
        margin-left: 20px;
        text-align: left;
      }

      .movie-details p {
        margin-bottom: 10px;
        font-size: 16px;
      }

      .movie-details strong {
        font-weight: bold;
      }

      .movie-details ul {
        list-style-type: none;
        padding: 0;
      }

      .movie-details ul li {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <nav class="normal nav" id="navbar">
      <a href="/index.html" class="logo1">
        <span class="film">Film</span><span class="cube">cube</span></a
      >
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/booker">Bookings</a></li>
        <li><a href="signup.html" class="sign up">Sign up</a></li>
        <li id="userPageButton" style="display: none">
          <a href="/admin"><img width="50" height="50" class="online"src="https://img.icons8.com/ios-filled/50/user.png" alt="user"/></a>
        </li>
      </ul>
    </nav>
    <div class="movie-description">
      <div class="movie-title">
        <h1><%= movie.title %></h1>
      </div>
      <div class="movie-info">
        <div class="movie-image">
          <img
            src="/theatreFillms/<%= movie.image %>"
            alt="<%= movie.title %>"
          />
        </div>
        <div class="movie-details">
          <p><strong>Genre:</strong> <%= movie.genre %></p>
          <p>
            <strong>Release Date:</strong> <%= movie.release_date.toDateString()
            %>
          </p>
          <p><strong>Duration:</strong> <%= movie.duration %> minutes</p>
          <p><strong>Description:</strong> <%= movie.description %></p>
          <p><strong>Cast:</strong></p>
          <ul>
            <% if (Array.isArray(movie.cast)) { %> <%
            movie.cast.forEach(function(actor) { %>
            <li><%= actor %></li>
            <% }) %> <% } else { %>
            <li><%= movie.cast %></li>
            <% } %>
          </ul>
          <div class="action-buttons">
            <button class="sign" onclick="openTrailer()">PLAY TRAILER</button>
            <button class="sign" onclick="openbook('<%= movie.movie_id %>')">
              BUY TICKET
            </button>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-section">
          <h3>About Us</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis
            justo sed odio fermentum.
          </p>
        </div>

        <div class="footer-section">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/bookings.html">Bookings</a></li>
            <li><a href="/signup.html">Sign up</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h3>Contact Us</h3>
          <p>Email: info@filmcube.com</p>
          <p>Phone: 0803849293</p>
        </div>

        <div class="footer-section">
          <h3>Follow Us</h3>
          <div class="social-icons">
            <img
              width="60"
              height="50"
              src="https://img.icons8.com/ios-filled/50/FA5252/twitter.png"
              alt="twitter"
            />
            <img
              width="50"
              height="50"
              src="https://img.icons8.com/ios-filled/50/FA5252/facebook-new.png"
              alt="facebook-new"
            />
            <img
              width="50"
              height="50"
              src="https://img.icons8.com/ios-filled/50/000000/linkedin.png"
              alt="linkedin"
            />
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2023 filmcube. All rights reserved. | Designed by Group3</p>
      </div>
    </footer>
    <script>
      window.addEventListener("scroll", function () {
        // Get the scroll position
        var scrollPosition = window.scrollY;

        // Set the height at which you want to change the background color (70vh in this case)
        var scrollThreshold = (3 * window.innerHeight) / 100;

        // Select the navbar element
        var navbar = document.getElementById("navbar");

        // Check if the scroll position is below the threshold
        if (scrollPosition > scrollThreshold) {
          // Apply black background color
          navbar.style.backgroundColor = "black";
        } else {
          // Reset to transparent background
          navbar.style.backgroundColor = "transparent";
        }
      });
      document.addEventListener("DOMContentLoaded", function () {
        // Check if the user is logged in
        checkUserLoggedIn().then((isLoggedIn) => {
          // Get the elements
          const signUpButton = document.querySelector(".sign");
          const userPageButton = document.getElementById("userPageButton");

          // Set initial visibility
          signUpButton.style.display = isLoggedIn ? "none" : "block";
          userPageButton.style.display = isLoggedIn ? "block" : "none";

          // Other client-side code...
        });
      });

      // Function to check if the user is logged in
      function checkUserLoggedIn() {
        // Fetch the login status from the server
        return fetch("/check-login-status")
          .then((response) => response.json())
          .then((data) => data.isLoggedIn);
      }
      function openTrailer() {
        // Open the trailer URL in a new window
        window.open("<%= movie.trailer_url %>", "_blank");
      }

      function openbook(movieId) {
        const url = `/booker?movie_id=${movieId}`;
        window.open(url);
      }
    </script>
  </body>
</html>
